.all-courses-cards {
  background-color: #275eae !important;
  color: white !important;
  display: flex !important;
  flex-direction: row !important;
  border-radius: 0px !important;
  min-height: 200px !important;
  justify-content: center !important;
  padding: 21px !important;
  align-items: center !important;
  border: 2px solid black !important;
  transition: all 0.3s ease-in-out !important;
  transform-origin: top left !important;
  cursor: pointer !important;
}

.all-courses-cards:hover {
  transform: scale(1.02) !important;
}

.all-course-title {
  /* width: 470px;
  height: 53px; */
  width: 100% !important;
  background-color: #2b7eaa !important;
  font-family: "Poppins";
  font-style: normal;
  font-weight: 700;
  padding: 10px !important;
  text-align: center !important;
  font-size: 35px;
  line-height: 52px;
  color: #ffffff;
}
