/* whowe.css */

.who-we-container {
  position: relative;
  width: 100%;
  height: 90vh;
  /* Reduced height from 100vh to 70vh */
  overflow: hidden;
}

.carousel,
.carousel-inner,
.carousel-item {
  height: 100%;
}

.carousel-slide {
  position: relative;
  width: 100%;
  height: 100%;
  background-size: cover;
  background-position: center;
}

.blue-overlay {
  position: absolute;
  bottom: 100px;
  left: 0;
  right: 0;
  /* background-color: rgba(0, 48, 103, 0.9); */
  padding: 8px 0;
  /* Reduced padding since text was removed */
  text-align: center;
  height: 10px;
  /* Set a small height to maintain the blue line */
  transform: translateZ(0);
}

.card-description {
  position: absolute;
  bottom: 0;
  left: 0;
  display: flex !important;
  flex-direction: column !important;
  justify-content: center !important;
  align-items: center !important;
  right: 0;
  background-color: rgba(39, 94, 174, 0.3);
  padding: 20px;
  box-shadow: 0 -5px 15px rgba(0, 0, 0, 0.1);
  transform: translateZ(0);
}

.card-description h3 {
  color: white;
  margin-bottom: 10px;
  font-weight: bold;
}

.card-description p {
  color: white;
  font-size: 16px;
  line-height: 1.6;
  margin-bottom: 15px;
}

/* .carousel-indicators {
  margin-bottom: 100px;
}

.carousel-indicators [data-bs-target] {
  width: 12px;
  height: 12px;
  border-radius: 50%;
  background-color: #ccc;
  opacity: 0.5;
}

.carousel-indicators .active {
  background-color: #003067;
  opacity: 1;
} */

/* Responsive adjustments */
@media (max-width: 768px) {
  .who-we-container {
    height: 60vh;
    /* Even smaller on mobile */
  }

  .blue-overlay {
    bottom: 80px;
  }

  .card-description h3 {
    font-size: 18px;
  }

  .card-description p {
    font-size: 14px;
  }

  .carousel-indicators {
    margin-bottom: 80px;
  }
}
