.certification-image {
    height: 100% !important;
    width: 100% !important;
    object-fit: contain !important;
}

.certification-image-container {
    min-height: 500px !important;
    max-height: 500px !important;
    /* width: 100% !important; */
    margin-bottom: 20px;
    overflow: hidden !important;
}

.certification-paragraph {

    /* font-family: 'Poppins';
        font-style: normal; */
    font-weight: 500;
    font-size: 18px;
    line-height: 36px;

    color: #666666;
}